.section1 {
    margin-top: 70px;
    padding-left: 168px;
    padding-right: 168px;
    height: 450px;
    flex-shrink: 0;
    background: linear-gradient(96deg, rgba(189, 210, 255, 0.40) 1.72%, royalblue 158.93%);
}

.mainMainText {
    color: var(--Dark-Color, #21243D);
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: relative;

    padding-top: 100px;
}

.subMainText {
    color: var(--Dark-Color, #21243D);
    padding-top: 20px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    white-space: pre-line;
}

.sectionImage {
    position: absolute;
    left: 300px;
    top: 40px;
    width: 100px;
    height: 100px;
}